<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>빵식의 홈페이지에 오신걸 환영합니다</h1>
    <hr />
    <header
      style="
        border-bottom: 1px solid #aaa;
        margin-bottom: 10px;
        padding-bottom: 10px;
      "
    >
      <nev>
        <a href="/">홈</a> | <a href="/profile">프로필</a> |
        <a href="/map">찾아오시는길</a> | <a href="/comtact">문의하기</a>
      </nev>
    </header>
    홈페이지에 오신걸 환영합니다

    <footer>
      <hr />
      여기는 메인페이지 구분입니다.
    </footer>
  </body>
</html>
